@import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre");

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  font-family: "Frank Ruhl Libre", serif;
}

body {
  /* background-color: #121134; */
  background-image: linear-gradient(#121134 350px, #12113449);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 1;
}

header {
  text-align: center;
}

img#hwcrest {
  height: 150px;
  margin: 1em;
}

h1 {
  margin-top: 0;
  color: #d5a208;
}

nav button {
  margin: 1em;
  cursor: pointer;
  text-decoration: none;
  color: #d5a208;
  font-size: 1.2em;
  padding: 5px 20px;
  font-family: "Frank Ruhl Libre", serif;
  border: none;
  font-weight: 600;
  background-color: transparent;
  border-radius: 3px;
}

nav > button:hover {
  color: rgb(34, 26, 26);
  background-color: #d5a208;
}

label {
  display: inline-block;
}

label > h4 {
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  margin: 0.5em;
}

select {
  border-radius: 5px;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1em;
}

#container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100%;
  text-align: center;
}

main {
  margin-top: 5px;
  color: #121134;
  font-family: "Frank Ruhl Libre", serif;
}

.draggable {
  position: absolute;
  cursor: pointer;
}

.dropzone {
  background-image: linear-gradient(#be2323, #d1282841);
  margin: 1.5em;
  padding: 0 1em;
  width: 65%;
  color: #121134;
  border-radius: 3px;
}

article {
  margin: 1.5em auto;
  padding: 0 1em;
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
  text-align: left;
  background-color: #ddddf1;
  border-radius: 3px;
}

article > div > h2 {
  margin: 0.5em 0;
  font-size: 1.5em;
}

article > div > h4 {
  margin: 0 0 1em 0;
}

.gryffindorstyle {
  background-color: #9b1239;
  color: #fdb02e;
}

.hufflepuffstyle {
  background-color: #ffc02a;
  color: #0b0000;
}

.ravenclawstyle {
  background-color: #075c96;
  color: #e9ba36;
}

.slytherinstyle {
  background-color: #1a6340;
  color: #c0b1c6;
}

.hide {
  display: none;
}

/*MODAL*/

.modal {
  position: fixed;
  z-index: 10;
  width: 600px;
  margin: 0 auto;
  top: 25%;
  left: 25%;
  right: 25%;
}

#studentImage {
  float: left;
  height: 180px;
  padding: 20px;
}

#houseCrest {
  max-height: 110px;
  display: block;
  margin: 10px auto;
}

.modal {
  border-radius: 3px;
}

.modal-name {
  font-weight: 700;
  margin: 5px 0 0 0;
  padding: 15px 20px 0 20px;
}

.house-name {
  margin: 0;
  padding: 10px 20px;
}

.long-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0 20px;
  margin: 0;
}

.closebtn {
  cursor: pointer;
  text-decoration: none;
  float: right;
  overflow: auto;
  font-size: 25px;
  margin: 0 10px;
  text-justify: top;
}
