@import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre");

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  font-family: "Frank Ruhl Libre", serif;
}

header {
  text-align: center;
}

img#hwcrest {
  height: 150px;
  margin: 1em;
}

h1 {
  margin-top: 0;
}

nav a {
  margin: 2em;
  cursor: pointer;
}

main#container {
  min-height: 100%;
  margin-top: 4em;
  color: black;
  font-family: "Frank Ruhl Libre", serif;
}

article {
  margin: 3em;
  padding: 0 1em;
  border: 1px solid black;
  width: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

article > h2 {
  margin: 0.5em 0;
  font-size: 1em;
}

article > h3 {
  margin-top: 0;
  font-size: 1.1em;
}

.gryffindorStyle {
  background-color: #ce3a0a;
  color: #fdb02e;
}

.hufflepufStyle {
  background-color: #ffc02a;
  color: #0b0000;
}

.ravenclawStyle {
  background-color: #395f9d;
  color: #e9ba36;
}

.slytherinStyle {
  background-color: #588c39;
  color: #c0b1c6;
}

.hide {
  display: none;
}

/*MODAL*/

.modal {
  position: fixed;
  z-index: 3000;
  max-width: 400px;
  min-width: 200px;
  margin: 0 auto;
  background-color: lightsteelblue;
  top: 25%;
  left: 25%;
  right: 25%;
  padding-right: 20px;
}

.modal-name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #06052a;
  padding-left: 1em;
}

.long-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #06052a;
  padding: 0 1.25em;
}

.closebtn {
  color: #06052a;
  cursor: pointer;
  text-decoration: none;
  float: right;
  overflow: auto;
  font-size: 2em;
}
